.hisScreen {
    // padding: 20px;

    // h2 {
    //     margin-bottom: 20px;
    // }

    p {
        font-size: 1em;
        color: white;
    }
}
.l-mesg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    /* Adjust this according to your layout */
}
.additional-info{
    // margin-top: -20rem;
    line-height: 3rem;
    font-size: 18px;
    color: white;
}
.logged-out-message{
    line-height: 2rem;
}
.hicon{
    color: white;
    margin-left: 10rem;
    margin-bottom: 13px;
}